/* Header 스타일 */
.schedule-header {
    background: linear-gradient(to right, #c31432, #240b36);
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Match Card 스타일 */
.match-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    padding: 20px;
}

.match-card:hover {
    transform: scale(1.05);
}

/* 리그 로고 스타일 */
.league-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Match Result 스타일 */
.match-result {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #333;
}

